body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-block: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: gold;
}
